@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* header nav */

header {
    overflow: hidden;
}

header a {
    color: #404040;
}

nav {
    z-index: 1;
    position: relative;
    text-decoration: none;
    width: 100%;
    font-size: 1.7em;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: max-height 1s ease;
}

nav section {
    padding: 1em;
    font-weight: 600;
}

nav section #menu-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    line-height: 1.7em;
    cursor: pointer;
}

nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    visibility: hidden;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.1s ease;
}

nav .menu.active {
    height: auto;
    visibility: visible;
    transform: scale(1);
}

.menu li {
    text-align: center;
    padding: 0.5em;
    width: 100%;
    font-size: 0.9em;
    border-top: 1px solid #cacaca;
}

/* header slogan */

header .slogan {
    position: relative;
    overflow: hidden;
}

.slogan img {
    display: block;
    width: 100%;
}

.slogan .title {
    position: absolute;
    bottom: 1.2em;
    left: 0em;
    width: 100%;
    padding: 0.2em 0 0.2em 0.7em;
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.2em;
    background-image: linear-gradient(to right, #9D856B, transparent);
}

.title span {
    font-weight: 400;
}

/* profile section */
main section#profile {
    text-align: justify;
    padding: 2em 1em;
    color: #404040;
    background-color: #FFFEF6;
}

section#profile h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

section#profile article {
    min-height: 50vh;
}

article .profile-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    margin-bottom: 2em;
}

.profile-info img {
    width: 180px;
    border-radius: 10px;
    margin: 0 1em 1em 0;
}

.profile-info .description {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.description span {
    margin-bottom: 1em;
}

.description span i {
    margin-right: 0.7em;
}

.description button {
    padding: 1em;
    border: none;
}

/* work section */
main section#work {
    padding: 2em 1em;
    color: #c0c0c0;
    background-color: #404040;
}

section#work h1 {
    font-size: 2em;
    text-align: center;
}

section#work article {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

article .content-box {
    text-align: justify;
    width: 100%;
    border: 1px solid white;
}

article .content-box img {
    width: 100%;
}

article .content-box h2 {
    color: #FFFEF6;
    padding-left: 0.5em;
}

article .content-box p {
    padding: 0.5em 1em;
}

/* contact section */
main section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    color: #404040;
    background-color: #FFFEF6;
}

section#contact h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

section#contact form {
    width: 100%;
}

form label {
    font-size: 0.9em;
}

form input,
form select {
    width: 100%;
    padding: 0.7em;
    margin-bottom: 1.5em;
    border: 1px solid #c0c0c0;
    outline: none;
    background-color: #F7F7F7;
}

form button {
    padding: 0.5em 1em;
    margin-top: 0.5em;
    border: none;
    color: #F7F7F7;
    background-color: #404040;
}

/* footer */
main footer {
    text-align: center;
    font-size: 0.8em;
    padding: 2em 0em;
    color: #ffffff;
    background-color: #404040;
}

/* media screen */ 
@media only screen and (min-width: 768px) {
    section#work article {
        grid-template-columns: 1fr 1fr;
    }

    section#contact form {
        width: 420px;
    }
}